@font-face {
    font-family: 'tyanmio';
    src: url(font/Kaiso-Next-B.otf);
}

@font-face {
    font-family: 'iroha';
    src: url(font/irohamaru-mikami-Light.ttf);
}

@font-face {
    font-family: 'iroha_2';
    src: url(font/irohamaru-mikami-Regular.ttf);
}

@font-face {
    font-family: 'insta';
    src: url(font/Billabong.ttf);
}

@font-face {
    font-family: 'menu';
    src: url(font/NaiveDecoSansDouble.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: #fff;
}

.nav {
    display: block;
    position: fixed;
    z-index: 100;
}

.menu{
    margin-top: 40px;
    margin-left: 40px;
}

.menu_list{
    list-style: none;
    margin-top: 10px;
    
}

.menu_text {
    color: white;
    text-decoration: none;
    font-family: menu;
    font-size: 25px;
    margin-top: 10px;
    font-style: italic;
}





.main-contents {
    background-image: url(img/background.png);
    width: 100%;
    height: 740px;
    float: 
}

.main_cc{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: white;
    font-family: 'iroha';
    position: absolute;
    top:150px;
    right:190px;
}

.second-contents:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    background: url(img/uneune.png);
    background-size: cover;
}

.main-contents h1 {
    font-family: 'tyanmio';
    font-style: italic;
    text-align: center;
    color: #fff;
    padding-top: 310px;
    font-size: 52px;
}


.main-contents svg path {
    opacity: 0;
}

.second-contents {
    background: linear-gradient(#010d3c, rgba(5, 163, 255, 0.66));
    width: 100%;
    height: 1300px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
}

.second-contents h2 {
    font-family: 'iroha';
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 25px;
}

.time {
    font-family: 'iroha';
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 260px;
}

.title_1 {
    font-family: 'iroha';
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 150px;
}

.month {
    margin: 0 auto;
    width: 580px;
    overflow: hidden;
}

.month_fish {
    position: absolute;
    width: 80px;
    right: 100px;
}

.pengin {
    height: 100px;
    position: absolute;
    top: 220px;
    left: 180px;
}

.month_img {
    float: left;
    padding-top: 30px;
    overflow: hidden;
    width: 270px;
    margin-right: 40px;
}

.month_img p {
    color: white;
    font-family: 'iroha_2';
    padding-top: 10px;
    text-align: center;
}

.month_img_2 {
    width: 270px;
    padding-top: 30px;
    overflow: hidden;
}

.month_img_2 p {
    color: white;
    font-family: 'iroha_2';
    padding-top: 10px;
    text-align: center;
}

.title_2 {
    margin: 0 auto;
    width: 270px;
    padding-top: 200px;
}

.title_2_img {
    text-align: center;
    width: 270px;
    padding-bottom: 20px;
    float: left;
}

.title_2_sub {
    text-align: center;
    padding-bottom: 50px;
}

.title_2_sub_h3 {
    color: white;
    font-family: 'tyanmio';
    margin: 0 auto;
    width: 270px;
    padding-top: 30px;
}


.bx-viewport li {
    height: 200px;
}


.insta:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.kai {
    width: 180px;
    margin-top: 100px;
}

.insta {
    margin: 0 auto;
    text-align: center;
    width: 150px;
    height: 30px;
    padding: 5px;
    display: inherit;
    margin-top: 40px;
    color: white;
    font-size: 24px;
    font-family: 'insta';
    text-decoration: none;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 20px;
}

@media (min-width: 600px) {
    .insta {
        -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.24), 0 15px 12px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.24), 0 15px 12px rgba(0, 0, 0, 0.12);
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.24), 0 15px 12px rgba(0, 0, 0, 0.12);
        transition: all 0.2s ease-in-out;
    }
    .insta:hover {
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
}

.insta i{
    font-size: 20px;
    padding-right: 5px;
}

.
/*
.second-contents svg path{
    background:linear-gradient(#010d3c, rgba(5,163,255,0.66));
}

.second-contents svg path h1{
    color: white;
}
